!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
data/hsa_genome.fa.rpac
data/hsa_genome.fa.rsa
data/hsa_genome.fa
data/hsa_genome.fa.pac
data/hsa_genome_mask.fa.1.ebwt
data/hsa_genome.fa.bwt
data/hsa_genome_mask.fa
data/hsa_genome_mask.fa.2.ebwt
data/filter_ref_Human_nomiRNA.fa
data/hsa_genome.fa.sa
data/Homo_sapiens_smrna_for_pipeline
data/hsa_genome.fa.rbwt
data/hsa_genome_mask.fa.4.ebwt
data/hsa_genome_mask.fa.rev.1.ebwt
data/hsa_genome_mask.fa.rev.2.ebwt
